.wrapper {
  position: relative;
}

.input {
  font-size: 14px;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #2d3436;
}

.closeBtn {
  position: absolute;
  right: 2px;
  top: 6px;
  display: block;
  background: transparent;
  border: 0;
}
